.counter {
  width: 400px;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

.buttonCounter {
  margin: 15px;
  width: 100px;
  height: 35px;
  background-color: #2ca2da;
  color: #fff;
  border: none;
}

.spanText {
  margin-right: 15px;
  padding-left: 15px;
  font-size: 64px;
}
